@inherits LayoutComponentBase

<div class="flex flex-row h-screen">
    <NavMenu />
    <div class="flex flex-col w-full flex-grow bg-white">
        <div class="flex flex-row flex-shrink-0 items-center text-white h-14 px-4 bg-gray-100 border-b border-gray-300 justify-end pr-8">
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>
        <div class="flex-grow pl-8 py-5 pr-6">
            @Body
        </div>
    </div>
</div>
