@page "/counter"

<h1 class="text-4xl font-medium mb-2">Counter</h1>

<p class="mb-4">Current count: @currentCount</p>

<button class="px-3 py-2 rounded-md bg-blue-600 text-white" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
