@page "/counter"

<TwHeader1>Counter</TwHeader1>

<p class="mb-4">Current count: @currentCount</p>

<TwButton @onclick="IncrementCount">Click Me</TwButton>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
